{% extends 'cms_app/base.html' %}

{% block content %}

<form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Item-Name:</label>
        <input type="text" class="form-control" name="item-name" placeholder="Product Name">
        <br> 
        {% if messages %}
        {% for message in messages %}
            <p class="error">{{message}}</p>
        {% endfor %}
        {% endif %}
        <br>
        <input type="submit" value="Submit">
    </div>
</form>

{% endblock %}